@{
  Layout = "_Layout";
}


@model HairSalon.Models.Stylist
<div class="flip-card" style="width: 500px">
<h3>Add a new stylist</h3>
<br/>
<br/>
@using(Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, null, new { placeholder ="Stylist Name...", @class="text-box", required="required"})
  
  <br>

  @Html.TextBoxFor(model => model.Specialty, new { placeholder = "Stylist Specialty...", @class="text-box"})
  <br/>
  <input type = "submit" class="btn" value = "Add stylist" />
}
<br/>
<br/>
<button class="btn">@Html.ActionLink("Back to Stylists", "Index")</button>
</div>