@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="flip-card" class="width: 500px">
  <h2>Delete stylist??</h2>

  @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)

  @using (Html.BeginForm())
  {
    <input type="submit" value="delete" class="btn" />
    <br/>
  }
  
  <button class="btn">@Html.ActionLink("Back to Stylists", "Index")</button>
</div>