@{
  Layout = "_Layout";
}


@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>; //model directive. gives this view access to the necessary list of stylists.

<div class="flip-card" style="width: 500px;">
  <div class="h1">
    <h1>Stylists</h1>
  </div>

  @if (@Model.Count == 0)
  {
    <h3>No stylists have been added yet.</h3>
  }
  
  @foreach(Stylist stylist in Model)
  {
    //$"{}" - I pass value of specialty into a string
    //new { id = stylist.StylistId} - this is how .NET knows which id to use in the Details action. new means we are creating an anonumous object with property id.
    <h3>@Html.ActionLink($"{stylist.Name}", "Details", new {id = stylist.StylistId})</h3>
  }
  <br/>

  <button class="btn">@Html.ActionLink("Add new stylist", "Create")</button>
</div>
