@* @{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h2>Create a new appointment</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Stylist)
  <br>
  @Html.Label("Appointment date(yyyy-MM-dd")
  @Html.EditorFor(model => model.Date, new { type = "date"})
  <br>
  <input type="submit" value="Schedule it!" />
}

 *@
