body {
  font-family: 'Asap', sans-serif;
  background-image: url("/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.render {
  background-color: #491823c0;
  margin-top: 3%;
  /* border-radius: 25%; */
  padding: 25%;
  padding-top: 15%;
  padding-bottom: 40%;
  font-weight: bold;
  color: #c3b7ba;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.flip-card {
  background-color: #49182394;
  margin: 0 auto;
  float: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.911);
  padding: 10px;
}

li {
  text-decoration: none;
}
.flip-card-back ul {
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}



h4 {
  text-align: center;
}
/* 
.flip-card {
  margin: 0 auto;
  float: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.911);
  transition: 0.3s;
  border: 2px solid;
  
}

.flip-card {
  margin: 0 auto;
  float: none;
  perspective: 1000px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.911);
  transition: 0.3s; */
  /* border: 2px solid;
 
} */
/* 
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
 
}

.flip-card-front, .flip-card-back {
  /* position: absolute; */
  /* width: 100%;
  line-height: 70px;
  height: 100%; */
  /* backface-visibility: hidden;
} */

 .flip-card-front {
  padding: 2px 16px;
} 

/* .flip-card-back {
  -ms-transform: rotateY(-180deg); /* IE 9 */
  /* -webkit-transform: rotateY(-180deg); Safari */
  /* transform: rotateY(-180deg); 
  padding-bottom: 300px;
}   */
