body {
  font-family: 'Asap', sans-serif;
  background-image: url("/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.render {
  background-color: #491823c0;
  margin-top: 3%;
  /* border-radius: 25%; */
  padding: 25%;
  padding-top: 15%;
  padding-bottom: 40%;
  font-weight: bold;
  color: #c3b7ba;
  text-align: center;
}

h1 {
  font-size: 50px;
}
