<h1>Welcome to Hair Salon!</h1>
@*//in actionlink: when I click on the link with text "see all stylists, I am taken to Index route from StylistsController" *@
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>