@{
  Layout = "_Layout";
}


@model HairSalon.Models.Client

<div class="flip-card" style="width: 500px">
  <h3>Add a new Client:</h3>
  <br/>
  <br/>
  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, null, new { placeholder="Client Name...", @class="text-box" })
    <br/>
    @Html.DropDownList("StylistId", null, "Select Stylist", new {  @class="text-box" })
    <br/>
    <input type="submit" value="add client" class="btn">
  }
  <br/>
  <button class="btn">@Html.ActionLink("Show all clients", "Index")</button>
</div>