@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Delete this client?</h2>

@Html.DisplayNameFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to Client list", "Index");
<p>@Html.ActionLink("Home", "Index", "Home")</p>