@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="flip-card">
  <h2>Delete this client?</h2>

  @Html.DisplayFor(model => model.Name)
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="btn" />
  }

  <button class="btn">@Html.ActionLink("Back to Client list", "Index")</button>
</div>